body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 20px 0;
}

.chat {
    background-color: #fff;
    width: 400px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.chatbox {
    height: 230px;
    overflow-y: scroll;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f0f0f0;
    margin-bottom: 20px;
}

.chat-message {
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
}

.chat-message.bot {
    background-color: #0074c2;
    color: #fff;
}

.chat-message.user {
    background-color: #f0f0f0;
}

.input {
    display: flex;
}

input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    background-color: #0074c2;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #005b9f;
}
